<h1>
    {{title}}

</h1>

<hr>
<nav>
    <a [routerLink]="['/pagina-principal']" [routerLinkActive]="['activado']">
        Home
    </a> -
    <a [routerLink]="['/frutas']" [routerLinkActive]="['activado']">
        Frutas
    </a> -
    <a [routerLink]="['/empleados']" [routerLinkActive]="['activado']">
        Empleados
    </a> -
    <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">
        Contacto
    </a> -
    <a [routerLink]="['/formulario']" [routerLinkActive]="['activado']">
        Formulario
    </a> -
    <a [routerLink]="['/coche']" [routerLinkActive]="['activado']">
        Coche
    </a>
</nav>
<hr>
<router-outlet></router-outlet>